.registeration{
    min-height: 100vh;
    margin-right: 19vw;
}

.heading{
	color: white;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
	display: block;
	/* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.content{
	line-height: 1.75;
	color: white;
	opacity: 0.75;
	width: 55vw;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

.register{
    border-radius: 0.3rem;
}

.register:nth-child(1) .btn{
    background-color: rgb(63, 75, 98);
}

.register:nth-child(1) .btn:hover{
    background-color: rgb(43, 51, 67);
}

.register:nth-child(2) .btn{
    background-color: rgb(209, 51, 91);;
}


.register:nth-child(2) .btn:hover{
    background-color: #8e233e;
}

.register:nth-child(3) .btn{
    background-color: rgb(209, 51, 51);;
}

.register:nth-child(3) .btn:hover{
    background-color: rgb(116, 17, 17);
}

.btn{
    border-radius: 8rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
    line-height: .8;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    min-height: 38px;
}

img{
    height: 18vw;
    width: 19vw;
    transition: 1s;
}

.image{
    overflow: hidden;
    cursor: pointer;
}

.register:hover img{
    transform: scale(1.07);
}

.img_footer{
    width: 100%;
    height: 46px;
    background-color: rgb(245, 245, 245)
}

@media(max-width: 1023px) {
	.registeration{
        margin-left: 10px;
		margin-right: 10px;
    }
    .heading{
		font-size: 2rem;
    }
}