<div class="registeration" fxLayout="column" fxLayoutAlign="center center">
  <div class="heading">Registration</div>
  <div class="content">
    You can register as a
  </div>
  <div class="registers" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="30px">
    <div class="register" *ngFor="let register of registers" (click)="openDialog(register)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
      <div class="image">
        <img [src]="register.url" alt="">
      </div>
      <div class="img_footer" fxLayout="row" fxLayoutAlign="center center">
        <div class="btn" href="">{{register.name}}</div>
      </div>
    </div>
  </div>
</div>