<div class="_container">
  <mat-sidenav-container class="_sidenav">
    <mat-sidenav #sidenav class="_side" mode="side" opened fixedInViewport="true" fixedTopGap="0" fixedBottomGap="0"  fxLayout="column" fxLayoutAlign="center">
      <mat-nav-list class="_list">
        <div mat-list-item class="navigation" role="navigation"
        *ngFor="let link of links; let i=index" (click)="scrollto(i)" [class.selected]="selectedLink === link.id"
        (click)="selectedLink = link.id" fxLayout="row"
        >
        <i [class]="link.class"></i>
        <div *ngIf="!mobile">{{link.name}}</div>
      </div>
      </mat-nav-list>
    </mat-sidenav>
    <div #home>
      <app-home></app-home>
    </div>
    <div #about>
      <app-about #about></app-about>
    </div>
    <div #committees>
      <app-committees></app-committees>
    </div>
    <div #resources>
      <app-resources></app-resources>
    </div>
    <div #registeration>
      <app-registeration></app-registeration>
    </div>
    <!-- <app-faq #faq></app-faq> -->
    <div #contact>
      <app-contact></app-contact>
    </div>
  </mat-sidenav-container>
</div>