<div class="_container">
  <mat-sidenav-container class="_sidenav" >
    <mat-sidenav #sidenav class="_side" mode="side" opened fixedInViewport="true" fixedTopGap="0" fixedBottomGap="0"  fxLayout="column" fxLayoutAlign="center">
      <mat-nav-list class="_list">
        <div mat-list-item class="navigation" role="navigation"
        *ngFor="let link of links; let i=index" (click)="scrollto(i)" [class.selected]="i ===inView"
        fxLayout="row"
        >
        <i [class]="link.class"></i>
        <div *ngIf="!mobile">{{link.name}}</div>
      </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content cdkscrollable (scroll)="scrollSpy($event)">
      <div #home>
        <app-home></app-home>
      </div>
      <div #about>
        <app-about #about></app-about>
      </div>
      <div #committees>
        <app-committees></app-committees>
      </div>
      <div #resources>
        <app-resources></app-resources>
      </div>
      <div #registeration>
        <app-registeration></app-registeration>
      </div>
      <div #faq>
        <app-faq></app-faq>
      </div>
      <div #contact>
        <app-contact></app-contact>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>