.faq{
  min-height: 100vh;
  margin-right: 19vw;
}

.heading{
	color: white;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
	display: block;
	margin-bottom: 1rem;
}

.questions{
	text-align: justify;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 2em;
	border-radius: 14px;
}

.question, .answer{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	color: white;
	width: 55vw;
}
.question{
	opacity: 0.9;
}

.answer{
	opacity: 0.75;
}

@media(max-width: 1023px) {
	.faq{
		margin-right: 10px;
		padding-top: 10vh;
	}
	.questions{
		padding: 10px;
		width: 80vw;
		line-height: 1.1
	}
	.question, .answer{
		width: unset;
	}
}