.faq{
  height: 100vh;
  margin-right: 19vw;
}

.heading{
	color: white;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
	display: block;
	margin-bottom: 1rem;
}

.questions{
  text-align: justify;
}

.question, .answer{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	color: white;
	width: 55vw;
}
.question{
	opacity: 0.9;
}

.answer{
	opacity: 0.75;
}