<div class="faq" #faq fxLayout="column" fxLayoutAlign="center center">
  <div class="heading">FAQs</div>
  <div class="questions" fxLayout="row" fxLayoutAlign="center center">
    <div class="set1">
      <div class="questions1" *ngFor="let i of (data | async)?.slice(0,len/2)" fxLayout="column" fxLayoutAlign="center center">
        <div class="question" [innerHTML]="i?.questions?.content"></div>
        <div class="answer" [innerHTML]="i?.answers?.content"></div>
      </div>
    </div>
    <div class="set2">
      <div class="questions2" *ngFor="let i of (data | async)?.slice(len/2,len)" fxLayout="column" fxLayoutAlign="center center">
        <div class="question" [innerHTML]="i?.questions?.content"></div>
        <div class="answer" [innerHTML]="i?.answers?.content"></div>
      </div>
    </div>
  </div>
</div>
