.team{
  min-height: 100vh;
  color: white;
  margin-right: 19vw;
}

.member:hover img{
  filter: grayscale(100%);
  border: 8px solid #ffffff;
}

img{
  height: 14vw;
  width: 14vw;
  border: 2px solid #ffffff;
  border-radius: 50%;
  filter: grayscale(98%);
  transition: 0.3s;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.image{
  padding-bottom: 16px;
}

.name{
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: .5rem;
  font-weight: 500;
}

.position{
  opacity: 0.75;
  line-height: 0.75;
  font-size: 80%;
  font-weight: 400;
  padding-bottom: .5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
}

.phone, .email{
  opacity: 0.75;
  color: white;
  font-size: 70%;
  font-weight: 400;
  line-height: 0.75;
}

.phone{
  margin-top: 0.5rem;
}

.email{
  margin-top: 0.2rem;
}

.phone i, .email .fa-envelope{
  margin-right: 4px;
}

.heading{
	color: white;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
  display: block;
	/* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.email .fa-circle{
  font-size: 2px;
  letter-spacing: 1px;
}

.social-links i{
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin-top: .5rem;
  transition: .3s;
}

.social-links i:hover{
  color: rgba(255,255,255,0.5);
}

@media(max-width: 1023px) {
	.team{
    margin-right: 10px;
    margin-top: 90px;
  }
  .heading{
		font-size: 2rem;
  }
  img{
    height: 60vw;
    width: 60vw
  }
}