<div class="team" fxLayout="row-wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
  <div class="member" *ngFor="let member of team" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="image"><img [src]="member.img" alt=""></div>
    <div class="name">{{member.name}}</div>
    <div class="position">{{member.post}}</div>
    <div class="phone"><i class="fas fa-mobile-alt"></i>{{member.number}}</div>
    <div class="email"><i class="fa fa-envelope"></i>{{member.mail}}<i class="fa fa-at"></i>antaragni<small><i class="fa fa-circle"></i></small>in</div>
    <div class="social-links" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <a [href]="member.fb" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
      <a [href]="'mailto:'+member.gmail" class="google-plus" target="_blank"><i class="fab fa-google"></i></a>
      <a [href]="member.linked_in" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>      
  </div>
</div>