.committees{
    height: 100vh;
    margin-right: 19vw;
}

.heading{
    line-height: 1.6;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    margin-top: 16px;
    margin-bottom: .5rem;
}

img{
    width: 246px;
    height: 140px;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    transition: .2s;
}

img:hover{
    background: #1d1d1d;
    -webkit-box-shadow: 0 5px 80px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.15);
}

.image{
    overflow: hidden;
}
/* 
.image:hover img{
    transform: scale(1.02);
} */

.btn{
    margin-bottom: 8px;
    border-radius: 10rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: none;
    line-height: .8;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    min-height: 38px;
}

.btn:hover{
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    background-color: transparent
}