<div class="register" fxLayout="column" fxLayoutAlign="center center">
  <div class="heading" mat-dialog-title>{{data.name}}</div>
  <div class="content" mat-dialog-content fxFlexAlign="stretch">{{data.content}}</div>
</div>

<mat-dialog-actions class="_close" align="end" fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="primary" (click)="onhit()" mat-dialog-close>Register <span *ngIf="data.name == 'Delegate'">: ₹200</span> </button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>