<div class="home" fxLayout="column" fxLayoutAlign="center center">
  <div class="content" fxLayout="row">
    <div class="left-content col-12 col-md-6">
      <div class="text">
        <div class="heading">Heading</div>
        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim placerat lorem vitae cursus.</div>
      </div>
      <div class="btn" href="">A Link?</div>
    </div>
    <div class="right-content col-12 col-md-6" fxLayout="row" fxLayoutAlign="center center">
      <img class="logo" src="https://outreach.un.org/mun/sites/outreach.un.org/files/mun_legacy/2016/03/UN-emblem.jpg" alt="">
    </div>
  </div>
</div>