<div class="home" [ngsReveal]="{ reset: true, cleanUp: true, scale: 1, viewOffset:{bottom: 30}, origin: 'bottom'}" fxLayout="column" fxLayoutAlign="center center">
  <img src="https://drive.google.com/uc?export=view&id=1m-ZbRF_SHLJp4O-ZevpCxTBD8FM-7-Vq" alt="" class="heading">
  <div class="content" fxLayout="row" fxLayoutGap="10vw">
    <div class="right-content" fxLayout="row" fxLayoutAlign="center center" [ngsReveal]="{scale: 1.2, viewOffset:{bottom: 0}}">
      <img class="logo" src="https://drive.google.com/uc?export=view&id=1GGO7qa_Zr6UV71nU36XmnBNSpBXmzzRX" alt="">
    </div>
  </div>
  <a class="btn" href="https://drive.google.com/file/d/12qOQbuF-kiPwNiM_ozEw6FTMr0i6WXtS/view?usp=sharing" target="_blank" (click)="openDialogLetter()">Brochure</a>
</div>