<div class="about_antaragni" fxLayout="column" fxLayoutAlign="center center">
  <div class="heading" mat-dialog-title>ANTARAGNI</div>
  <div class="content" mat-dialog-content fxFlexAlign="stretch">Antaragni  is the annual cultural festival of IIT Kanpur, held in the month of October. It is a four-day-long festival, attracting participation from over 200 colleges of India. It includes professional shows, competitions, performances by amateur rock bands, Ustads and Pandits, fashion shows, Indian folk dances, and a lot of other events.</div>
</div>

<mat-dialog-actions class="_close" align="end" fxlayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions> 