.heading{
	color: white;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
	display: block;
    margin: 1rem;
    border-bottom: 2px solid #fff;

	/* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.content{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
	color: white;
	opacity: 0.9;
    text-align: center;
	padding: 1rem;
	min-height: 50vh;

}

.content a{
	color: #fff;
	opacity: 1.8;
}

._close{
    color: white;
}

@media(max-width: 1023px) {
	.heading{
		font-size: 2rem;
	}
}