<div class="about_antaragni" fxLayout="column" fxLayoutAlign="center center">
  <div class="heading" mat-dialog-title>ANTARAGNI</div>
  <div class="content" mat-dialog-content fxFlexAlign="stretch">Antaragni is one of the largest cultural festivals of Asia and has attained legendary status over the past 52 years. A four day cultural extravaganza, with intense participation and a history of producing some of the most memorable performances and participants who have went on to become celebrities, Antaragni is a once in a lifetime experience. As the preparations for the 53rd edition are in full swing, the fest is bound to achieve new levels of jubliance and excellence, and promises to set the attendees en route Nirvana. For details, visit <a href="https://antaragni.in/">www.antaragni.in</a> or follow our Facebook page.</div>
</div>

<mat-dialog-actions class="_close" align="end" fxlayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions> 