<div class="container">
  <h1>Term and COnditions</h1>
  <ul>
    <li>Condition 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis accumsan purus, et
      scelerisque lectus posuere ac. Nullam molestie feugiat fringilla.
    </li>
    <li>Condition 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis accumsan purus, et
      scelerisque lectus posuere ac. Nullam molestie feugiat fringilla.
    </li>
    <li>Condition 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis accumsan purus, et
      scelerisque lectus posuere ac. Nullam molestie feugiat fringilla.
    </li>
  </ul>
</div>
