.heading{
	color: white;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
	display: block;
	margin-bottom: 1rem;
	/* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.body{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
	color: white;
	opacity: 0.75;
	width: 55vw;
	text-align: center;
}

.about{
	max-width: 800px;
	min-height: 100vh;
	margin-right: 19vw;
}

._buttons{
	margin-top: 1rem;
}

.btn{
    margin-bottom: 8px;
    border-radius: 10rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: none;
    line-height: .8;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    min-height: 38px;
}

.btn:hover{
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    background-color: transparent
}

@media(max-width: 1023px) {
	.about{
        margin-left: 10px;
		margin-right: 10px;
	}
	.heading{
		font-size: 2rem;
	}
	.body{
        text-align: justify;
		width: 100%;
	}
	.btn{
		font-size: .9rem;
	}
}