<div class="_navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo" fxLayout="row" fxLayoutAlign="none center">
    <div class="image">
      <img src="https://drive.google.com/uc?export=view&id=17uAAnoCbhM5yBUIUMICtFigefPTzPNse" alt="">
    </div>
    <div class="text">Antaragni</div>
  </div>
  <div class="_links" fxLayout="row" fxLayoutGap="30px">
    <div class="btn" (click)="onhit()"><i class="fab fa-facebook-f"></i>{{(loginService.isAuthenticated$| async)?'Logout': 'Log In'}}</div>
  </div>
</div>
