<div class="_navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo" fxLayout="row" fxLayoutAlign="none center">
    <div class="image">
      <img src="https://lh5.googleusercontent.com/0Eyimybo-orgj0PjTHhNIUWV9QZ-elaJXcjz1Mt2HQEpSPobRKKhmB6pCOKDyAOCru8hAUnQXG4-rdzYqp6L=w1920-h957" alt="">
    </div>
    <div class="text">Antaragni</div>
  </div>
  <div class="_links" fxLayout="row" fxLayoutGap="30px">
    <div class="btn" (click)="onhit()"><i class="fab fa-facebook-f"></i>Log In</div>
  </div>
</div>