<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Luckiest+Guy|Questrial" rel="stylesheet">

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="!mobile">
    <div fxLayout="column" fxLayoutAlign="start center" class="full" [class.show]="state">
      <mat-card fxLayoutAlign="center center">
        Antaragni
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="15px">
        <img [src]="(user|async)?.personal.picture" class="img-circle">
        <div fxLayout="column" fxLayoutAlign="center left">
          <div class="name">{{(user|async)?.name}}</div>
          <div class="clg"><i class="fa fa-graduation-cap"></i> IIT Kanpur</div>
        </div>
      </mat-card>
      <!--<mat-card fxLayout="row" fxLayoutAlign="space-between center" class="ref" (click)="copyit()">-->
        <!--<div>Applied for</div>-->
        <!--<div fxLayout="column" fxLayoutAlign="center end">-->
          <!--<input #refcode [value]="(user|async)?.campus.referralCode" maxlength="6">-->
          <!--<div class="copy">click to copy</div>-->
        <!--</div>-->
      <!--</mat-card>-->
    </div>
  </mat-drawer>
  <app-navbar [selectedLink]="(getState(o)|async)[0]?.path"></app-navbar>
  <div [@bounceOutLeft]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</mat-drawer-container>

