i{
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 8px;
}

.social-link:hover i{
  color: rgba(255, 255, 255, 1);
}

.fa-linkedin{
  color: unset;
  background-color: rgba(255, 255, 255, 0.5);  
}

.social-link:hover .fa-linkedin{
  color: unset;
  background-color: rgba(255, 255, 255, 1);  
}

.social-link{
  cursor: pointer;
  background-color: transparent;
}

.footer{
  position: fixed;
  z-index: 6;
  bottom: 32px;
  right: 64px;
}

@media(max-width: 1023px){
  .footer{
    bottom: 10px;
    right: 12px;
  }
}