i{
  font-size: 24px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 8px;
}

i:hover{
  color: rgba(255, 255, 255, 1);
}

.fa-linkedin{
  color: unset;
  background-color: rgba(255, 255, 255, 0.5);  
}

.fa-linkedin:hover{
  color: unset;
  background-color: rgba(255, 255, 255, 1);  
}

.social-link{
  background-color: transparent;
}

.footer{
  position: fixed;
  z-index: 6;
  bottom: 32px;
  right: 64px;
}