@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "style_fonts.css";
.mobile {
  display: block;
}

@media (max-width: 768px) {
  .mobile {
    display: none;
  }
}

.head{
  font-family: open-sans-800 sans-serif;
}

.full-width{
  width: 100%;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}

::-webkit-scrollbar-thumb {
  background-color: #ee3158;
  /*outline: 3px solid white;*/
}

.incent a {
  color: #ee3158;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.488);
}

.mat-dialog-container {
  background: rgba(0,0,0,.65);
}

.mat-dialog-actions{
  padding-bottom: none
}

.mat-raised-button.mat-warn {
  background-color: rgb(161, 32, 65);
}

button, .nav-item, a{
  outline: none !important;
}

@media(max-width: 1023px){
  .mat-dialog-container{
    max-width: 100vw;
    width: 100vw !important;
  }
  .cdk-overlay-pane{
    width: 100vw !important;

  }
  .panelC{
		width: 100vw !important;
	}
}